.ChatHeader {
  background-color: lightgray;
  padding: 5px;
  box-sizing: border-box;
}
.ChatHeaderContainer {
  width: 100%;
  display: flex;
  align-items: center;
}
.Avatar {
  height: 50px;
  width: 50px;
  margin: 0 10px;
}
.Name {
font-weight: bold;
}