.ChatWindow {
  background-color: white;
  height: 400px;
  overflow: auto;
}
.messageContainer {
  padding: 5px;
}
.OwnerMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
 }
.messageBox {
  display: flex;
  align-items: center;
}
.Message {
  height: 20px;
  background-color: #252526;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.OwnerMessage{
  height: 20px;
  width: 130px;
  background-color: gray;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.DateMessage {
  margin-left: 60px;
}
