.LogButton {
  height: auto;
  width: auto;
}
.LogButtonContainer {
  background-color: cadetblue;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  padding: 3px 10px;
}
